<table mat-table [dataSource]="pedido" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Número do pedido </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="comprador">
        <th mat-header-cell *matHeaderCellDef> Nome do comprador </th>
        <td mat-cell *matCellDef="let element"> {{element.comprador.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef> Nome do fornecedor </th>
        <td mat-cell *matCellDef="let element"> {{element.fornecedor.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="totalProdutos">
        <th mat-header-cell *matHeaderCellDef> Total de produtos comprados </th>
        <td mat-cell *matCellDef="let element"> {{element.totalProdutos}} </td>
    </ng-container>

    <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> Valor total comprado </th>
        <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="openItemPedidoModal(row)"></tr>
</table>
